.flexintitucional{
  display: flex;
}
.indiceInstitucional{
  background-color: #e6e0e0;
  padding-right: 40px;
}
.Iinstitucional{
 margin-left: 40px;
  justify-content: center;
  align-items: center;
}
.flexintitucional2{
  display: flex;
  margin: 1em;

}
.imgInst1{
  width:1000px; 
  height: 600px;
  margin-bottom: 1.5em;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.imgInst{
  width:1000px;
  height: 600px;
  align-items: center; 
  margin: 1em;

}


.aInst {
  align-self: stretch;
  text-decoration: none;
  color: black;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}
.aInst:hover, .aInst:focus {
  background-size: 100% 2px;
}

.imgInst2{
  width:600px; 
  height: 1000px;
  margin: 1em;
}

